.root {
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}
.root:hover {
    box-shadow: 4px 4px 10px 0 #ccc;
}
.brandLogo {
    width: auto;
    height: 100px;
    margin: 0 auto;
}
.brandName {
    text-align: center;
    padding-top: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}