.submenu {
    background-color: rgb(var(--venia-global-color-gray-50));
    box-shadow: 0 0px 0px 4px #5c87fe;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    padding: 20px 10px;
    top: 100%;
    transform: translateX(-50%);
    min-width: 1440px;
    z-index: 1;
}

.submenu::before {
    box-shadow: inset 0 2px rgb(var(--venia-global-color-gray-100));
    content: '';
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.submenuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--venia-global-maxWidth);
}
